# api
DATABASE_HOST=postgres
DATABASE_NAME=margaret
DATABASE_USERNAME=margaret
DATABASE_PASSWORD=margaret

STRIPE_API_KEY=

SENTRY_DSN=

GITHUB_CLIENT_ID=d9400d2b53d5f0469ede
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=209587178094-tk2sinoh4ssq09bojobdb856ls6gd8ul.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=1651474318250422
FACEBOOK_CLIENT_SECRET=


# web
NODE_ENV=development

REACT_APP_API_URL=http://api.margaret.localhost/graphql

REACT_APP_GITHUB_CLIENT_ID=
REACT_APP_GOOGLE_CLIENT_ID=
REACT_APP_FACEBOOK_CLIENT_ID=
