{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false },
      "transform-decorators",
      "polished"
    ]
  ],
  "env": {
    "test": {
      "presets": [["env", { "modules": "commonjs" }], "next/babel"]
    }
  }
}
