{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ],
    "transform-decorators",
    ["lodash", { "id": ["lodash", "recompose"] }],
    "ramda",
    "polished"
  ],
  "env": {
    "test": {
      "presets": [["env", { "modules": "commonjs" }], "next/babel"]
    }
  }
}
